<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="OnePageRowsCount" value="10"/>
    <add key="UseDataCaching" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString"
      connectionString="Data Source=MAXGRITCHIN9EAC\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"/>
  </connectionStrings>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
    <targets>
      <target name="logFile" xsi:type="File" fileName="${logDirectory}/log.txt"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logFile" />
    </rules>
  </nlog>
</configuration>